section#banner {
  max-width: 1720px;
  background-color: white;
  margin: 0 auto;
}
section#banner .wrap {
  
}
section#banner .wrap h2 {
  
}
section#banner .wrap ul {
  row-gap: 15px;
}
section#banner .wrap ul li {
  width: calc(100% / 7);
}
section#banner .wrap ul li a {
  
}
section#banner .wrap ul li a img {
  
}