body{
   font-family: 'Noto Sans KR', sans-serif;
   font-weight: 400;
}

.font15{
   font-size: 15px;
}

.font24{
   font-size: 24px;
}

.font40{
   font-size: 40px;
}

.font100{
   font-size: 100px;
}

.bold{
   font-weight: bold;
}

.grey9{
   color:#999999;
}

.grey6{
   color:#666666;
}