section#product2 {
  max-width: 1720px;
  margin: 0 auto;
  background-color: white;
}
section#product2 .wrap {
  
  gap: 40px;
}
section#product2 .wrap h2 {
  
}
section#product2 .wrap ul {
  width: calc(100% / 2);
  flex-wrap: wrap;
  gap: 60px;
}
section#product2 .wrap ul li {
  width: 350px;
  height: 360px;
}
section#product2 .wrap ul li:first-child{
  
  /*! background-image: url(../img/prod1.png); */
  /*! background-repeat: no-repeat; */
  /*! background-position: right bottom; */
  /*! background-size: 37%; */
}
section#product2 .wrap ul li a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
}
section#product2 .wrap ul li a:hover {
  box-shadow: 0px 0px 15px #ccc;
}

section#product2 .wrap ul li a::after{
  content: "";
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  width: 100%;
  height: 180px;
  display: inline-block;
}
section#product2 .wrap ul li:nth-child(1) a::after{
  background-image: url(../img/prod21.png);
  }
section#product2 .wrap ul li:nth-child(2) a::after{
  background-image: url(../img/prod22.png);
  }
section#product2 .wrap ul li:nth-child(3) a::after{
  background-image: url(../img/prod23.png);
  }
section#product2 .wrap ul li:nth-child(4) a::after{
  background-image: url(../img/prod24.png);
  }
section#product2 .wrap ul li a h3 {
  width: 100%;
  font-size: 26px;
  font-weight: bold;
}
section#product2 .wrap ul li a p {
  
  width: 100%;
  font-size: 13px;
  color: #888888;
}
section#product2 .wrap .pdetail {
  width: calc(100% / 2);
}
section#product2 .wrap .pdetail article {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 50px;
  row-gap: 24px;
}
section#product2 .wrap .pdetail article:not(:first-child) {
  display: none;
}
section#product2 .wrap .pdetail article hgroup {
  
}
section#product2 .wrap .pdetail article hgroup h3 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 40px;
  color: #333333;
}
section#product2 .wrap .pdetail article hgroup h4 {
  
  font-size: 100px;
  font-weight: bold;
  color: #333333;
}
section#product2 .wrap .pdetail article p.h4 {
  line-height: 1.3;
  font-size: 24px;
  font-weight: bold;
  grid-column: 1;
  grid-row: 2;
}
section#product2 .wrap .pdetail article p.p {
  
  font-size: 15px;
  grid-column: 1;
  grid-row: 3;
}
section#product2 .wrap .pdetail article img {
  grid-row: 4;
  grid-column: 2;
  width: 426px;
}